/* HEADINGS */

h1 {
    font-family: 'Gilda Display', sans-serif;
    font-size: 123.363px;
    line-height: 145px;
    color: #231B19;
}

h2 {
    font-family: 'Gilda Display', sans-serif;
    font-size: 76.2444px;
    line-height: 90px;
    color: #231B19;
}

h3 {
    font-family: 'Gilda Display', sans-serif;
    font-size: 47.1226px;
    line-height: 55px;
    color: #231B19;
}

h4 {
    font-family: 'Gilda Display', sans-serif;
    font-size: 29.124px;
    line-height: 10px;
    color: #231B19;
}

h5 {
    font-family: 'Gilda Display', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #231B19;
}

h6 {
    font-size: 16px;
    line-height: 19px;
    color: #231B19;
}


/* BODY TEXT */

p {
    font-family: 'Amiko', sans-serif;
    margin: 5px;
}

.inlineblock {
    display: inline-block;
    vertical-align: top;
    margin-top: auto;
}


/* MAH LOGO */

.logo {
    width: 60%;
    padding: 46px;
    text-align: center;
}


/* ELEMENT CSS */

section {
    width: 100vw;
    display: inline-block;
}

nav {
    position: relative;
    width: 1170px;
    margin: 0 auto;
    overflow: hidden;
}

ul {
    width: 20%;
    margin-left: auto;
}


/* PROFILE PHOTO */

.heroImg {
    background: #FFFCF5;
    height: 100%;
    padding: 25px;
}

.content {
    width: 500px;
    margin: auto;
}

footer {
    background-color: #231B19;
    padding: 50px;
    text-align: center;
}

.white {
    color: white;
}

.mySkills {
    background-color: #DCEFFA;
    height: 100%;
    padding-bottom: 1%;
}

.titleHeading {
    font-family: 'Lovelo', sans-serif;
    font-size: 90px;
    margin: 0px;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    margin-bottom: 20px;
}

.skillChild {
    padding-left: 40px;
    padding-right: 40px;
    align-items: flex-start;
    text-align: center;
    align-content: center;
}

.skillList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.skill {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    position: static;
    width: 375px;
    height: 28px;
    left: 0px;
    top: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 5px 0px;
}

circle1 {
    height: 15px;
    width: 15px;
    background: #717A29;
    display: inline-block;
    margin-right: 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

circle2 {
    height: 15px;
    width: 15px;
    background: #FFFCF5;
    display: inline-block;
    margin-right: 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

barL {
    height: 2px;
    width: 30px;
    background: #B98427;
    display: flex;
    margin: 8px;
}

barR {
    height: 2px;
    width: 90vw;
    background: #B98427;
    display: flex;
    flex-grow: 1;
    margin: 8px;
    align-items: center;
    overflow: hidden;
}

.titleHeading {
    font-family: 'Lovelo', sans-serif;
    font-size: 100px;
    margin: 10px;
}

.flex {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.item1 {
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 3;
}

.item2 {
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 3;
}

.item3 {
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 3;
}

.myWork {
    background: #F9E9CE;
}

.workGrid {
    display: grid;
    grid-template-areas: 'item1 item2 item3';
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
}


/*MOBILE QUERY*/

@media screen and (max-width: 850px) {
    .flexContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin-bottom: 20px;
    }
    .skillChild {
        padding-left: 40px;
        padding-right: 40px;
        align-items: flex-start;
        text-align: center;
        align-content: center;
    }
    .skillList {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    .skill {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        position: static;
        width: 375px;
        height: 28px;
        left: 0px;
        top: 0px;
        /* Inside Auto Layout */
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 5px 0px;
    }
}