.inlineblock{
    display: inline-block;
    vertical-align: top;
    margin-top: auto;
}

.logo{
    width: 60%;
    padding: 10%;
    text-align: center;
}

nav{
    width: 73%;
    padding: 1%;
}

ul{
    width: 20%;
    margin-left: auto;
}

.heroImg{
    background: #FFFCF5;    
    height: 800px;
    padding: 25px;
}

.content{
    width: 500px;
    margin: auto;
}

footer{
    background-color: #231B19;
    padding: 50px;
    text-align: center;
}

.white{
    color: white;
}
